/* app.postcss */
@import '@skeletonlabs/skeleton/themes/theme-crimson.css';
@import '@skeletonlabs/skeleton/styles/all.css';

/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}
